BasedOnStyle: Mozilla
IndentWidth: 4
---
Language: Cpp

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
ColumnLimit: 80
CompactNamespaces: false
DerivePointerAlignment: true
IncludeBlocks: Regroup
NamespaceIndentation: All
PointerAlignment: Right
SortIncludes: CaseSensitive
SpaceInEmptyBlock: false
Standard: c++17
UseTab: Never
